<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h2 id="scholarlypeerreview">Scholarly Peer Review</h2>

<p>I have reviewed research articles for various organizations, academic journals and conferences</p>

<ul>
<li><p>JRC Science and Policy Report: <em>Nudges to Privacy Behaviour: Exploring Alternative Approaches to EU Data Protection Regulation</em> (EUR 27384 EN)</p></li>
<li><p>Management Information Systems Quarterly</p></li>
<li><p>European Journal of Information Systems</p></li>
<li><p>Public Understanding of Science</p></li>
<li><p>Information Technology and People</p></li>
<li><p>Journal of Information Technology</p></li>
<li><p>Biosocieties</p></li>
<li><p>Technology Assessment and Strategic Management</p></li>
<li><p>IEEE Security &amp; Privacy</p></li>
<li><p>Identity in the Information Society Journal</p></li>
<li><p>Surveillance &amp; Society</p></li>
<li><p>British Journal of Political Science</p></li>
<li><p>European Group for Organizational Studies Colloquium, sub-theme on Unsettling Technology and Accountability (2008)</p></li>
<li><p>AIS SIGSEC Workshop on Information Security &amp; Privacy (pre-ICIS 2008)</p></li>
<li><p>European Conference on Information Systems (2009, 2012, 2013)</p></li>
<li><p>Conference on Open Development: Technological, Organizational and Social Innovations Transforming the Developing World (2010)</p></li>
</ul>

</body>
</html>
