<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<p><em>Contact me for copies of articles/chapters</em></p>

<p><a href="http://dx.doi.org/10.1017/asr.2016.35" target="_blank">&ldquo;Introduction to ASR Forum on Surveillance in Africa: Politics, Histories, Techniques&quot;</a>, with K. P. Donovan &amp; P. M. Frowd, African Studies Review 59(2): 31&#8211;37, 2016 [ISSN 0002&#8211;0206]</p>

<p>&quot;Trust in the Digital Economy: Security and Privacy&quot;, with M. Donohue, in <a href="http://dx.doi.org/10.1787/9789264232440-en" target="_blank"><i>OECD Digital Economy Outlook</i>&nbsp;</a><i><a href="http://dx.doi.org/10.1787/9789264232440-en" target="_blank">2015</a>,&nbsp;</i>Organisation for Economic Co-operation &amp; Development,<i> </i>OECD Publishing: 209&#8211;238, 2015 [ISBN&#8211;13: 978&#8211;9&#8211;264&#8211;23227&#8211;3]<br></p>

<p><a href="http://oe.cd/csirt-stat" target="_blank">&quot;Guidance for Improving the Comparability of Statistics Produced by Computer Security Incident Response Teams&quot;</a>, with T. Park, Organisation for Economic Co-operation &amp; Development, 2015</p>

<p><a href="http://dx.doi.org/10.1177/0963662513514173" target="_blank">&quot;New Surveillance Technologies and their Publics: A Case of Biometrics&quot;</a>, with K. P. Donovan,<i>&nbsp;Public Understanding of Science</i>&nbsp;24(7): 842–857, 2015<i>&nbsp;</i>[ISSN 0963&#8211;6625]</p>

<p>&quot;From Surveillance-by-Design to Privacy-by-Design: Evolving Identity Policy in the UK&quot;, with E. A. Whitley &amp; G. Hosein, in&nbsp;<a href="http://www.amazon.co.uk/Histories-Surveillance-Europe-Beyond-Boersma/dp/0415829461" target="_blank"><i>Histories of State Surveillance in Europe and Beyond</i></a>, edited by K. Boersma, R. van Brakel, C. Fonio &amp; P. Wagenaar, Routledge: 205&#8211;219, 2014 [ISBN&#8211;13: 978&#8211;0&#8211;415&#8211;82946&#8211;5]</p>

<p><a href="http://firstmonday.org/ojs/index.php/fm/article/view/4351/3820" target="_blank">&quot;The Rise of African SIM Registration: The Emerging Dynamics of Regulatory Change&quot;</a>,&nbsp;with K. P. Donovan,&nbsp;<i>First Monday&nbsp;</i>19(2&#8211;3), 2014<i>&nbsp;</i>[ISSN 1396&#8211;0466]</p>

<p><a href="http://web.idrc.ca/openebooks/541-1/#ch09" target="_blank">&quot;Open Government and Citizen Identities: Promise, Peril, and Policy&quot;</a>, with C. M. Bonina, in&nbsp;<i><a href="http://www.idrc.ca/EN/Resources/Publications/Pages/IDRCBookDetails.aspx?PublicationID=1274" target="_blank">Open Development: Networked Innovations in International Development</a></i>, edited by M. L. Smith &amp; K. M. A. Reilly, MIT Press: 223&#8211;247, 2014 [ISBN&#8211;13: 978&#8211;0&#8211;262&#8211;52541&#8211;1]</p>

<p>Book review of&nbsp;<a href="http://dx.doi.org/10.1093/scipol/sct019" target="_blank">&quot;Innovation, Dual Use, and Security: Managing the Risks of Emerging Biological and Chemical Technologies&quot;</a>, <i>Science &amp; Public Policy</i> 40(6): 824&#8211;826, 2013 [ISSN 1471&#8211;5430]</p>

<p><a href="https://ec.europa.eu/jrc/en/publication/eur-scientific-and-technical-research-reports/electronic-identity-europe-legal-challenges-and-future-perspectives-e-id-2020" target="_blank">&quot;Electronic Identity in Europe: Legal Challenges and Future Perspectives&quot;</a>, with N. Andrade &amp; S. Monteleone, <i>JRC Science and Policy Report </i>25834, European Commission, 2013 [ISSN 1831&#8211;9424]<br></p>

<p><a href="http://www.sciencedirect.com/science/article/pii/S0308596113000761" target="_blank">&quot;Friending the Taxman: On the Use of Social Networking Services for Government eID in Europe&quot;</a>, with N. Andrade, <i>Telecommunications Policy</i> 37(9): 715&#8211;724, 2013 [ISSN 0308&#8211;5961]</p>

<p><a href="http://doi.ieeecomputersociety.org/10.1109/MSP.2013.22" target="_blank">&quot;&lsquo;All the Better to See You with, My Dear&rsaquo;: Facial Recognition and Privacy in Online Social Networks&quot;</a>, with N. Andrade &amp; S. Monteleone,&nbsp;<i>IEEE Security &amp; Privacy Magazine </i>11(3): 21&#8211;28, 2013 [ISSN 1540&#8211;7993]</p>

<p><a href="http://mcs.sagepub.com/content/35/1/52.extract" target="_blank">&quot;Fixing Identity? Biometrics and the Tensions of Material Practices&quot;</a>, with E. A. Whitley,&nbsp;<i>Media, Culture &amp; Society</i>&nbsp;35(1): 52–60, 2013 [ISSN 0163&#8211;4437]</p>

<p><a href="http://ejlt.org/article/view/158/238" target="_blank">&quot;Battling Botnets with Digital Rights in Mind&quot;</a>, with N. Andrade, <i>European Journal of Law &amp; Technology</i> 3(2), 2012 [ISSN 2042&#8211;115X]</p>

<p><a href="http://personal.lse.ac.uk/martinak/IFIP.pdf" target="_blank">&quot;National Identity Infrastructures: Lessons from the United Kingdom&quot;</a>, in <i>ICT Critical Infrastructures and Society</i>, edited by M. D. Hercheui, D. Whitehouse, W. McIver Jr &amp; J. Phahlamohlaka, Springer: 44&#8211;55, 2012 [ISBN&#8211;13: 978&#8211;3&#8211;642&#8211;33331&#8211;6]</p>

<p><a href="http://www.oecd-ilibrary.org/science-and-technology/proactive-policy-measures-by-internet-service-providers-against-botnets_5k98tq42t18w-en" target="_blank">&quot;Proactive Policy Measures by Internet Service Providers against Botnets&quot;</a>, <i>OECD Digital Economy Papers</i> 199, Organisation for Economic Co-operation &amp; Development, OECD Publishing: 1&#8211;24, 2012<br></p>

<p><a href="http://www.tandfonline.com/doi/pdf/10.4324/9780203827475_chapter_1" target="_blank">&quot;Rethinking Security at the Olympics&quot;</a>, with D. J. Bernhard, in <i>Security Games: Surveillance and Control at Mega-Events</i>, edited by C.J. Bennett &amp; K. D. Haggerty, Routledge: 20&#8211;35, 2011 [ISBN&#8211;13: 978&#8211;0&#8211;415&#8211;60262&#8211;4]</p>

<p><a href="http://idl-bnc.idrc.ca/dspace/handle/10625/46407" target="_blank">&quot;Electronic Health Privacy and Security in Developing Countries and Humanitarian Operations&quot;</a>, with G. Hosein, <i>Policy Engagement Network Paper</i> 7, London School of Economics &amp; Political Science, 2010<br></p>

<p><a href="http://aisel.aisnet.org/cais/vol26/iss1/1/" target="_blank">&quot;Automating the Public Sector and Organizing Accountabilities&quot;</a>, with M. L. Smith &amp; M. E. Noorman, <i>Communications of the Association for Information Systems</i> 26(1): 1&#8211;16, 2010 [ISSN 1529&#8211;3181]</p>

<p>Book review of&nbsp;<a href="http://library.queensu.ca/ojs/index.php/surveillance-and-society/article/view/3274" target="_blank">&quot;Wiring Up The Big Brother Machine&#8230; And Fighting It&quot;</a>,<i>&nbsp;Surveillance &amp; Society&nbsp;</i>6(4): 416&#8211;417, 2009 [ISSN 1477&#8211;7487]</p>

<p><a href="http://library.queensu.ca/ojs/index.php/surveillance-and-society/article/view/3282" target="_blank">&quot;Understanding Resistance to Digital Surveillance: Towards a Multi-disciplinary, Multi-actor Framework&quot;</a>, with R. E. van Brakel &amp; D. J. Bernhard, <i>Surveillance &amp; Society</i> 6(3): 213&#8211;232, 2009 [ISSN 1477&#8211;7487]</p>

</body>
</html>
