//@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,800');

$mobile-screen: 45em;
// colors
$space-gray: #696969;
$charcoal: #202020;

body {
  background: #eee;
  min-height: 100vh;
  box-sizing: border-box;
//  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
//  font-size: 150%;
  font-weight: 500;
  line-height: 1.33;
  color: $charcoal;
  padding: 5vh 5%;
  max-width: 42em;
  margin: 0 auto;
}

// Fluid Type
// Sets font-size based on screen size
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 20px;
$max_font: 30px;

$mod_1: 1.33; // mobile
$mod_2: 1.43; // desktop

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  font-weight: 800;
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  font-variant: all-small-caps;
  margin-bottom: 0px;
  color: $space-gray;
  letter-spacing: 0.1em;
  font-weight:500;
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

a, a:visited, {
    color: #0066ff;
}
a:hover {
    color: #0047b3;
}
a:active {
    color: #003380;
}

section {
  width:100%;
  padding-right: 0px;
  margin: 0 auto 1.6em;
}

nav ul {
  list-style: none;
  margin: 0px 0px 1.3em;
  padding: 0px;
  line-height: 1.8;
}
nav ul li a{
  font-weight: 900;
  color: #303030;
}
nav ul li a.active{
  font-weight: 900;
  color: #666666;
}
footer {
  clear: both;
  width:100%;
  color: $space-gray;
  margin-top: 1.8em;
}
.icon {
  margin-bottom: -.4em;
}
.email {
  fill: $charcoal;
  height: 1.4em;
}