@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,800");
body {
  background: #eee;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #202020;
  padding: 5vh 5%;
  max-width: 42em;
  margin: 0 auto; }

html {
  font-size: 20px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(20px + 12 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 32px; } }

h1 {
  font-size: 2.0736rem;
  font-weight: 800; }
  h1 {
    font-size: 34.56px; }
    @media screen and (min-width: 320px) {
      h1 {
        font-size: calc(34.56px + 32.94 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h1 {
        font-size: 67.5px; } }

h2 {
  font-size: 1.728rem;
  font-variant: all-small-caps;
  margin-bottom: 0px;
  color: #696969;
  letter-spacing: 0.1em;
  font-weight: 500; }
  h2 {
    font-size: 34.56px; }
    @media screen and (min-width: 320px) {
      h2 {
        font-size: calc(34.56px + 32.94 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 67.5px; } }

h3 {
  font-size: 1.44rem; }
  h3 {
    font-size: 28.8px; }
    @media screen and (min-width: 320px) {
      h3 {
        font-size: calc(28.8px + 16.2 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h3 {
        font-size: 45px; } }

a, a:visited {
  color: #0066ff; }

a:hover {
  color: #0047b3; }

a:active {
  color: #003380; }

.container {
  margin: 0 auto;
  display: block; }
  @media (min-width: 45em) {
    .container {
      display: flex; } }

section {
  width: 100%;
  padding-right: 0px;
  margin: 0 auto 1.6em; }

nav ul {
  list-style: none;
  margin: 0px 0px 1.3em;
  padding: 0px;
  line-height: 1.8; }

nav ul li a {
  font-weight: 900;
  color: #303030; }

nav ul li a.active {
  font-weight: 900;
  color: #666666; }

footer {
  clear: both;
  width: 100%;
  color: #696969;
  margin-top: 1.8em; }

.icon {
  margin-bottom: -.4em; }

.email {
  fill: #202020;
  height: 1.4em; }
