<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://haroonalrasheed.github.io/641a/assets/css/style.css">
<!--			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">-->
			<link rel="icon" type="image/x-icon" href="https://haroonalrasheed.github.io/641a/assets/images/favicon.ico" />
		</head>
		<body>
            
            <h1>Aaron K. Martin, PhD</h1>
            
			<section>
        
			    {{ content }}
			    
			</section>
			
			<hr>
			
			<nav>
			  <ul>
			    <li><a href="/"{% if page.url contains "" %}class="active"{% endif %}>Home</a></li>
			    <li><a href="/selected-publications/"{% if page.url contains "/selected-publications/" %}class="active"{% endif %}>Selected Publications</a></li>
			    <li><a href="/professional-history/"{% if page.url contains "/professional-history/" %}class="active"{% endif %}>Professional History</a></li>
			    <li><a href="/peer-review/"{% if page.url contains "/peer-review/" %}class="active"{% endif %}>Peer Review</a></li>
			  </ul>
			</nav>
           
            <hr>
            
			<footer>
			      <svg  class="icon email" viewBox="0 0 512 512"><path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"/></svg><!--[if lt IE 9]><em>Email</em><![endif]--> <a href="mailto:a.k.martin@alumni.lse.ac.uk" title="Email">a.k.martin(at)uvt.nl</a>
			     <!-- <p>Aaron K. Martin &dash; <script>document.write(new Date().getFullYear())</script></p> -->
			
			</footer>
		</body>
	</html>
