<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		</head>
		<body>

			<section>
			  <article>
        
			    {{ content }}
			    
			  </article>
			</section>
			
			<aside>
              <div class="tabs">
                
                <input type="radio" name="tabs" id="tabone" checked="checked">
                <label for="tabone">Select Publicationse</label>
			
			    <div class="tab">
    
                 {% include publications.html %}
                 
                </div>
                
			    <input type="radio" name="tabs" id="tabtwo">
                <label for="tabtwo">Professional History</label>
                
                <div class="tab">
                  
                  {% include professional-history.html %}
                  
                </div>
                
                <input type="radio" name="tabs" id="tabthree">
                <label for="tabthree">Scholarly Peer Review</label>
                
                <div class="tab">
                  
                  {% include peer-review.html %}
                  
                </div>
			</aside>
			
			<footer>
			
			 
			
			</footer>
		</body>
	</html>