<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		</head>
		<body>
          <div class="container">
			<section>
			  <article>
        
			    {{ content }}
			    
			  </article>
			</section>
			
			<aside>
              <div class="tabs">
                
                
                <input type="radio" name="tabs" id="tabone" >
                <label for="tabone">Select Publications</label>
			
			    <div class="tab">
    
                 {% include publications.html %}
                 
                </div>
                
			    <input type="radio" name="tabs" id="tabtwo">
                <label for="tabtwo">Professional History</label>
                
                <div class="tab">
                  
                  {% include professional-history.html %}
                  
                </div>
                
                <input type="radio" name="tabs" id="tabthree">
                <label for="tabthree">Scholarly Peer Review</label>
                
                <div class="tab">
                  
                  {% include peer-review.html %}
                  
                </div>
			</aside>
		</div><!--end of container -->
			<footer>
			
			     <p><script>document.write(new Date().getFullYear())</script> &dash; Aaron K. Martin</p>
			
			</footer>
		</body>
	</html>